.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box
      .chat-main__main-header__left-box__user
        = @group.name
      .chat-main__main-header__left-box__member-list
        Member :  
        - @group.users.each do |user|
          %span.member-name= user.name
    = link_to 'Edit', edit_group_path(@group), class: 'chat-main__main-header__edit'
  .chat-main__messages
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__input-box
        = f.text_field :content, class: 'chat-main__form__message', placeholder: 'type a message'
        .chat-main__form__mask
          = f.label :image, class: 'chat-main__form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__form__submit'


