.side-bar
  .header
    -# .header__box
    %h3.header__box__name
      = current_user.name
    %ul.header__box__lists
      = link_to new_group_path, class: "header__box__lists-edit" do
        = icon('fas', 'edit',  class: "header__box__lists-edit")
      = link_to edit_user_path(current_user), class: "header__lists-cog" do
        = icon('fas', 'cog',  class: "header__box__lists-cog")

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group),class:"group" do
          .group__name
            = group.name
          .group__message
            まだメッセージがありません
      .comennts